.wrapper {
}

.header {
  background-color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.text {
  color: #fff;
}

.content {
  padding: 0 20px;
}

.input {
  margin-right: 5px;
}

.button {
}
