.wrapper {
  border: 2px solid #eee;
  margin: 10px 20px 0;
  padding: 10px;
  max-width: 400px;
}

.header {
  font-size: 20px;
  font-weight: 600;
}

.items {
  padding: 0;
  margin: 10px 0 0 20px;
}

.item {
}
